body {
    background-color: rgb(6, 9, 24);
    color: antiquewhite;
}

h1 {
    text-align: center;
}

#info-block {
    float: right;
}

#location-block {
    width: 100%;
    height: 80vh;
    border-width: 0px;
}

h2 {
    font-style: italic;
}

button {
    padding: 0.5rem;
    font-size: 1.12rem;
    background-color: rgb(128, 0, 47);
    color: beige;
}
